/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main, system-ui), sans-serif;
  background-image: var(--page-background, linear-gradient(to bottom, #b0b0b0, #a0a0a0));
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-text, 410);
}

.header,
.content {
  margin-inline: auto;
  inline-size: var(--container-width, clamp(375px, 49vw, 700px));
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 98px;
  padding-block-end: 100px;
}

.header {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  border: 2px solid var(--border-color, #000000);
  padding-block: var(--header-padding-block, clamp(122px, 1vw + 118px, 130px));
  background-color: var(--background-color, #ffffff);
}

.header__logo {
  outline: none;
  font-family: var(--font-accent, 'Courier New'), monospace;
  font-size: var(--font-size-logo, clamp(49px, 6vw, 65px));
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--font-accent, 'Courier New'), monospace;
  font-size: var(--font-size-header-title, clamp(14px, 3vw, 23px));
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.card {
  border: 2px solid var(--border-color, #000000);
  background-color: var(--background-color, #ffffff);
}

.card__image-wrapper {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.card__img {
  display: block;
  object-fit: cover;
  max-inline-size: 100%;
  block-size: 100%;
}

.card__img--right {
  object-position: right;
}

.card__img--left {
  object-position: left;
}

.card__img--faded {
  object-position: center;
  filter: saturate(0.3) opacity(0.9);
}
.card__img--inspire {
  filter: brightness(1.08) contrast(1.1) saturate(1.25) sepia(0.15) hue-rotate(-10deg) blur(0.2px);
}

.card__img--sunsetcalm {
  filter: brightness(1.06) contrast(1.18) saturate(1.22) sepia(0.14) hue-rotate(-8deg) contrast(1);
}

.card__img--nightburnout {
  object-position: center;
  filter: brightness(0.85) contrast(1.45) saturate(1.6) hue-rotate(205deg) sepia(0.25) invert(0.05) blur(0.6px);
}

.card__img--maze {
  object-position: center;
  filter: contrast(1.18) saturate(1.1) brightness(1.02) hue-rotate(180deg) sepia(0.03);
}

.card__img--warm {
  filter: brightness(1.05) contrast(1.08) saturate(1.15) sepia(0.08) hue-rotate(-10deg);
}

.card__img--cool {
  object-position: left;
  filter: contrast(1.06) saturate(0.95) brightness(0.96) hue-rotate(200deg) sepia(0.03);
}

.card__img--matte {
  object-position: center;
  filter: saturate(4);
}

.card__watermark {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: #000000;
  font-family:var(--font-accent, 'Courier New'), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow:
  1px 1px #ffffff, 
  -1px 1px #ffffff, 
  1px -1px #ffffff, 
  -1px -1px #ffffff;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports((-webkit-text-stroke: 1px #ffffff) or (text-stroke: 1px #ffffff)) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
  }
} 

.card__title {
  border-block-end: 2px solid var(--border-color, #000000);
  padding: 4px 10px;
  font-size: 18px;
  line-height: 1;
  font-variation-settings: "wght" var(--font-weight-title, 715);
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: 2px solid var(--border-color, #000000);
  padding-inline: 25px;
  padding-block: 25px;;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 1.17;
  font-variation-settings: "wght" var(--font-weight-text, 410);
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color, #000000);
  padding: 0;
  outline: none;
  overflow: hidden;
  font-family: var(--font-accent, 'Courier New'), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--background-color, #ffffff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.card__icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  color: #fff;
  transition: color 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button__icon-diskette {
  fill: #fff;
  transition: color 0.5s ease-in-out;
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  will-change: transform;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text--uppercase {
  text-transform: uppercase ;
}

.save-memory-button {
  gap: 8px;
  align-self: center;
  padding-inline: 20px;
  block-size: 55px;
}

.modal__icon-diskette {
  grid-column: 1 / 2;
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.modal[open] {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 30px 20px;
  border: 2px solid var(--border-color, #000000);
  padding-inline: 30px;
  padding-block: 30px;
  overflow: hidden;
  inline-size: 353px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
} 

.modal__text {
  grid-column: 2 / 3;
  font-family: var(--font-accent, 'Courier New'), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.button--modal {
  grid-column: -1 / 1;
  inline-size: 293px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000000);
}

.like-icon {
  inline-size: 39px;
  block-size: 34px;
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color, #000000);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color, #000000);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, red);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, red);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1;
}

@media (width <= 375px) {
 .content {
    margin-block-start: 100px;
}

  .card__title {
    line-height: 1.2;
}

  .save-memory-button {
    flex-direction: column;
    block-size: 84px;
}

  .button__icon-diskette {
    inline-size: 28px;
    block-size: 28px;
}

  .modal[open] {
    padding-inline: 40px;
    inline-size: 341px;
}

  .button--modal {
    inline-size: 261px;
}
}