/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--font-main: 'Inter-Variable';
--font-accent: 'Press Start 2P';
--font-weight-title: 715;
--font-weight-text: 410;
--page-background: 
    repeating-linear-gradient(
      to right, 
      #d3d3d3 0 2px, 
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom, 
      #d3d3d3 0 2px, 
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom, 
      #e7e7e7 0.01%, 
      #1a1a1a 100%
    );
--container-width: clamp(375px, 49vw, 700px);
--header-padding-block: clamp(122px, 1vw + 118px, 130px);
--background-color: #ffffff;
--font-size-logo: clamp(49px, 6vw, 65px);
--font-size-header-title: clamp(14px, 3vw, 23px);
--border-color: #000000;
--accent-color: #000000;
--contour-color: #000000;
--animation-fill-color: red;
}